*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 350px;
    margin: 0 auto;
    background-color: rgb(228, 133, 133);
    padding: 20px;
}
.tieude{
    font-size: 16px;
    color: rgb(8s8, 15, 15);
    margin: 5px 0;
    display: block;
}
.dieukhien{
    width: 300px;
    height: 30px;
    color: rgb(111, 4, 4);
    padding-left: 10px;
}
.m20{
    margin: 20px 0;
}
button{
    width: 80px;
    height: 30px;
    box-shadow: inset 0 0 20px rgb(69, 63, 63);
    border-radius: 10px;
}